{% extends 'main/base.html' %}
{% load widget_tweaks %}

{% block title %}Delete Task | TaskManagement{% endblock %}

{% block content %}
<div class="col-md-offset-2 col-md-8">
    <form method="post" style="margin-top:70px">
        {% csrf_token %}
        <p style="color:red;font:bold">Are you sure you want to delete?</p>
        <div class="form-group">
            <button type="submit" class="btn btn-danger btn-sm">confirm</button>
        </div>
    </form>
</div>
{% endblock %}
