{% extends 'main/base.html' %}
{% load staticfiles %}
{% block title %}TaskManagement | Home{% endblock %}

{% block content %}
<div class="col-md-offset-1 col-md-10">
    <h2>Welcome to TaskManagement Portal</h2><hr>

    <h4>This project is hosted on <a href="/">heroku</a></h4>

    <h4>The project source code is availabale on <a href="https://github.com/astikanand/TaskManagement">GitHub</a></h4><hr><br>

    <img src="{% static 'main/images/taskmanagement.jpg' %}" style="width: 100%;height: 380px;" />
    <br><br>

    <a href="{% url 'allTasks' %}" class="btn btn-info btn-lg">Show All Tasks </a>
</div>
{% endblock %}
